DirectoryIndex index.html index.php

Options -Indexes

<IfModule mod_authz_core.c>
    AuthMerging Off
    Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
    Satisfy any
</IfModule>
