html,
body,
button,
input,
select,
textarea {
	font-family: var(--font-ui);
}

body {
	font-size: 10pt;
	color: var(--color-text);
}

* {
	font-family: "Faculty Glyphic", "Arial", sans-serif !important;
}
