.map-context-menu,
.map-context-submenu {
	width: max-content;
}

.map-context-menu__item {
	grid-template-columns: 1.45em max-content auto;
}

.map-context-menu__label {
	overflow: visible;
	text-overflow: clip;
}
